.joinus {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.join-us {
  margin-right: auto;
  margin-bottom: 20px;
}

.joinus__link {
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
}

.joinus__link {
  margin-left: 0;
}

.joinus__icon {
  display: flex;
  fill: $backgr-color-team;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: background-color 250ms $timing-function;
}

.joinus__icon:hover,
.joinus__icon:focus {
  background-color: $accent-color;
}

.joinus__icon:first-child {
  margin-left: 0;
}

.item-link-social:first-child {
  margin-left: 0;
}

.footer__item--margin {
  margin-left: 90px;
}

.signup {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.signup__email-form {
  vertical-align: middle;
}

.signup__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  background-color: #2f303a;
  color: $background-color;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.signup__button-text {
  display: inline-block;
  vertical-align: middle;
}

.signup__button {
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: 12px;
  font-family: $main-font;
  background: $accent-color;
  color: $background-color;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;

  transition: background-color 250ms $timing-function;
}

.signup__button:hover,
.signup__button:focus {
  background: #188ce8;
}

.signup__button-icon {
  display: inline-block;
  vertical-align: middle;
  fill: $background-color;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
