body {
  color: $title-text-color;
  font-family: $main-font;
  letter-spacing: 0.03em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
